.Font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: grey;
    text-align: center;
}

img {
    vertical-align: middle;
    border-style: none;
}

h1 {
    font-size: larger;
    margin: auto;
    padding-bottom: 10%;

}





#copyright { padding-bottom: 20px;
    background-color: grey;
    padding-bottom: 30px;
    text-align: center;


}
